[defaults]
retry_files_enabled = false
force_color = true
host_key_checking = false
callback_result_format = yaml
jinja2_native = true
transport = ssh
timeout = 30
# TODO: we need this temporarily until our conditionals are fixed
# after a certain time period we can drop this
allow_broken_conditionals = True

[ssh_connection]
retries=3
ssh_executable = /usr/bin/ssh
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True
